$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1025px;
$tablet: 1024px;

$mobile-above: 769px;
$mobile: 768px;

$mobile-m-above: 569px;
$mobile-m: 568px;

$mobile-s-above: 376px;
$mobile-s: 375px;

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-m-above {
  @media (min-width: $mobile-m-above) {
    @content;
  }
}

@mixin mobile-m {
  @media (max-width: $mobile-m) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: $mobile-s-above) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}
