@use "../utils/" as *;

.news {
    &__info {
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        display: flex;
        align-items: center;
        column-gap: 15px;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 10%;
        color: $color-primary;
        text-transform: uppercase;
        & svg {
            stroke: $color-primary;
        }
        & path {
            fill: $color-primary;
        }
    }
}
