@font-face {
    font-family: "PT Sans";
    src: url("../../fonts/PTSans-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: 700;
}
