.grid {
  display: grid;
  &--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &--cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &--cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  &--cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  &--cols-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  &--cols-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  &--cols-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  &--cols-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  &--cols-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  &--cols-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
